$primary: #7f2853;
$app-background-color: white;
$font-family: 'Lato', sans-serif;
$font-size: 13px;

@mixin pointer-effects($background-color: $primary, $foreground-color: white) {
  background-color: $background-color;
  color: $foreground-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: mix($background-color, white, 90%);
  }

  &:active {
    background-color: mix($background-color, black, 90%);
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
